<?xml version="1.0" encoding="UTF-8"?>
<library xmlns="http://www.optimyth.com/schema/definitions/library_metadata"
         technology="go" name="context">

  <module name="context" >
    <description url="https://pkg.go.dev/context" >
      Context type, which carries values across API boundaries and between processes
    </description>

    <class name="context.Context" />

    <function name="context.WithTimeout" signature="context.WithTimeout(context.Context,time.Duration)" >
      <return type="context.Context" />
      <sink argpos="1" kind="resource_injection" resource="other" />
    </function>
  </module>
</library>